<h2>Add User </h2>
<%= form_for(@user) do |f| %>
  <div>
    <div>
      <%= f.label :email %>&nbsp;&nbsp;
      <%= f.text_field :email %><span class='error'><%= @user.errors[:email][0] %></span>
    </div>
    <div>
      <%= f.label :user_type, "Type" %>&nbsp;&nbsp;
      <%= f.select :user_type, User::TYPE, :prompt => "Select a type--" %><span class='error'><%= @user.errors[:user_type][0] %></span>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
